
@import "./components/general";
@import "./components/header";
@import "./components/first-screen";
@import "./components/prizes-block";


:root {
    --white: #FFFFFF;
    --black: #1A1A1A;
    --cream-white: #F7F5F3;
    --red: #78060D;
}
